<table id='transactions' class='display table table-striped table-hover'>
  <thead class="thead-dark">
    <tr>
      <th scope="col">
        <%= Transaction.human_attribute_name(:occurrence_at) %>
      </th>
      <th scope="col">
        <%= Transaction.human_attribute_name(:card_number) %>
      </th>
      <th scope="col">
        <%= Transaction.human_attribute_name(:cpf) %>
      </th>
      <th scope="col">
        <%= Transaction.human_attribute_name(:kind) %>
      </th>
      <th style='display:none'></th>
      <th scope="col">
        <%= Transaction.human_attribute_name(:amount) %>
      </th>
    </tr>
  </head>

  <tbody> 
    <%= render partial: 'transactions/transaction_item', collection: transactions, as: :transaction %>
  </tbody>

  <tfoot>
    <tr>
      <th colspan='4' class= 'text-end'><%= t('sum') %>:</th>
      <th class='text-end'></th>
    </tr>
  </tfoot>
</table>